<div class="contextual">
<%= link_to l(:button_edit), edit_product_path(product),  :class => 'icon icon-edit'  %>
<%= link_to l(:button_delete), product_path(product), :data => {:confirm => "Are yiu shure?"}, :method => :delete, :class => 'icon icon-del'  %>
</div>
